$ng: #17ff26;
$lightrose: #ff17af;
$dvio: #5517ff;
$deeprose: #ff115f;
$bound18: 18px #b0b0b0 solid;

$fs7: 7em;

$ffa7: times;



div#test1div {


	border: $bound18;



	h1#test1 {

	color: $deeprose;
	font-size: $fs7;
	font-family: $ffa7;
	text-align: center;
}


}